<html>

    <head>
        <title>Ithaca Pokémon GO Friend QR Codes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="icon.png" />
        <link rel="stylesheet" href="app.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://www.nayuki.io/res/qr-code-generator-library/qrcodegen.js"></script>
    </head>

    <body>
        <div id="app" class="container">
            <h1>Ithaca Pokémon GO Friend QR Codes</h1>
            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 flex">
                    <label class="control-label" for="search">Search:</label>
                    <input type="text" class="form-control" placeholder="Name or Username" v-model="search" />
                </div>
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 flex">
                    <label class="control-label">Filter:</label>
                    <label class="checkbox">
                        <input type="checkbox" v-model="filter.raids" />
                        Raids
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" v-model="filter.friendship" />
                        Friendship
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" v-model="filter.pvp" />
                        PvP
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" v-model="filter.trading" />
                        Trading
                    </label>
                </div>
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 flex">
                    <label class="control-label" for="newest">Sort by:</label>
                    <button id="newest" type="button" class="btn btn-default" :class="{'btn-primary': sort == 'newest'}"
                        @click="sort = 'newest'">
                        Newest
                    </button>
                    <button id="oldest" type="button" class="btn btn-default" :class="{'btn-primary': sort == 'oldest'}"
                        @click="sort = 'oldest'">
                        Oldest
                    </button>
                    <button id="name" type="button" class="btn btn-default" :class="{'btn-primary': sort == 'name'}"
                        @click="sort = 'name'">
                        Name
                    </button>
                    <button id="username" type="button" class="btn btn-default"
                        :class="{'btn-primary': sort == 'username'}" @click="sort = 'username'">
                        Username
                    </button>
                </div>
            </div>
            <div class="row">
                <div v-for="friend in sorted_and_filtered" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card p-4">
                        <div v-html="friend.qr_code"></div>
                        <dl>
                            <dt>Name:</dt>
                            <dd>{{friend.name}}</dd>
                            <dt>Username:</dt>
                            <dd>{{friend.username}}</dd>
                            <dt>Friend Code:</dt>
                            <dd>{{friend.code}}</dd>
                            <dt>Interested In:</dt>
                            <dd class="d-inline" v-if="friend.raids">Raids</dd>
                            <dd class="d-inline" v-if="friend.friendship">Friendship</dd>
                            <dd class="d-inline" v-if="friend.pvp">PvP</dd>
                            <dd class="d-inline" v-if="friend.trading">Trading</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>

</html>